* {
	display: block;
	font-size: 20px;
	font-family: sans-serif;
}
title {
	display: none;
}
.center {
	position: absolute; 
	margin-left: auto; 
	margin-right: auto;
	left: 50%;
}
#search {
	padding: 0px; 
	margin: 0px; 
	height: auto; 
	width: 100%; 
	position: absolute; 
	left: 0px; 
	margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 6px;
	text-align: left;
}
ul {
	float: right;
}
li {
	display: inline-block;
	padding-left: 1em;
}
footer {
	background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    min-width: 100%;
    bottom: 0;
    position: absolute;
}
a {
	color: #464242;
    text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
